In [7]:
test = r2
test

  user watch
0    1    m1
1    1    m2
2    1    m3
3    1    m4
4    1    m5
5    1    m6

In [8]:
test.to_dict()

{'user': {0: '1', 1: '1', 2: '1', 3: '1', 4: '1', 5: '1'},
 'watch': {0: 'm1', 1: 'm2', 2: 'm3', 3: 'm4', 4: 'm5', 5: 'm6'}}

In [10]:
test.to_dict('series')

{'user': 0    1
 1    1
 2    1
 3    1
 4    1
 5    1
 Name: user, dtype: object, 'watch': 0    m1
 1    m2
 2    m3
 3    m4
 4    m5
 5    m6
 Name: watch, dtype: object}

In [11]:
test.to_dict('split')

{'columns': ['user', 'watch'],
 'data': [['1', 'm1'],
  ['1', 'm2'],
  ['1', 'm3'],
  ['1', 'm4'],
  ['1', 'm5'],
  ['1', 'm6']],
 'index': [0, 1, 2, 3, 4, 5]}

In [12]:
test.to_dict('records')

[{'user': '1', 'watch': 'm1'},
 {'user': '1', 'watch': 'm2'},
 {'user': '1', 'watch': 'm3'},
 {'user': '1', 'watch': 'm4'},
 {'user': '1', 'watch': 'm5'},
 {'user': '1', 'watch': 'm6'}]

In [13]:
test.to_dict('index')

{0: {'user': '1', 'watch': 'm1'},
 1: {'user': '1', 'watch': 'm2'},
 2: {'user': '1', 'watch': 'm3'},
 3: {'user': '1', 'watch': 'm4'},
 4: {'user': '1', 'watch': 'm5'},
 5: {'user': '1', 'watch': 'm6'}}

In [14]:
from collections import OrderedDict, defaultdict
test.to_dict(into=OrderedDict)

TypeError: to_dict() got an unexpected keyword argument 'into'

In [15]:
dd = defaultdict(list)
test.to_dict('records', into=dd)

TypeError: to_dict() got an unexpected keyword argument 'into'